body {
  background-color:#23252C;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 100%;
  width: 100%;
}

.App {
  position: relative;
  background-color: #1A1B21;
  text-align: center;
  border-radius: 10px;
  height: 780px;
  width: 390px;
  margin: auto;
  font-family: 'Inter';
}

.proof {
  border-radius: 10px;
  width: 100%;
}

.info > h1, h3{
  margin: 0;
}

.info > h1{
  padding-top: 15px;
  font-size: 25px;
  font-weight: 700px;
  color:whitesmoke;
}

.info > h3{
  padding-top: 3px;
  font-size: 12.8px;
  color: #F3BF99;
  font-weight: 400px;
  padding-bottom: 5px;
}

.info > a{
  color:whitesmoke;
  font-size: 10.25px;
  text-decoration: none;
}

.buttons{
  padding-top: 10px;
  padding-left: 65px;
  padding-right: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500px;
}

.buttons > a {
  text-decoration: none;
}

.buttons > button{
  width: 115px;
  height: 34px;
  border-radius: 5px;
}

button:hover{
  cursor: pointer;
}

.linkedinbutton{
  background-color: #5093E2;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 15px;
  padding-right: 25px;
  justify-content: space-between;
}


.emailbutton {
  padding-left: 15px;
  padding-right: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about {
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
}

.interests {
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
}

.about > h3, .interests > h3 {
  font-weight: 700px;
  color: whitesmoke;
  font-size: 16px;
}

.about > p, .interests > p {
  color: #DCDCDC;
  font-size: 10.25px;
}

.footer {
  background-color: #161619;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer > img:hover {
  cursor: pointer;
}

.insta {
  padding-left: 90px;
  width: 25px;
  height: 25px;
}

.github{
  padding-right: 90px;
}

