*{
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  padding: 20px 36px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .2);
  height: 70px;
}

.cardInfo > p{
  display: flex;
  align-items: center;
  height: 15px;
  
}

.swimmer {
  padding: 0% 5%;
}

.star {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.spanLocation {
  color: #918E9B;
  padding-left: 3px;
}

.spanPrice {
  font-weight: bold;
  padding-right: 3px;
}

.logo {
  max-width: 100px;
  padding-left: 10px;
}

.hero {
  padding-top: 60px;
  font-family: 'Poppins', sans-serif;
}


.photogrid {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero > h1,p {
  padding-left: 5%;
}

.hero > h1 {
  margin-bottom: 16px;
}

.hero > p {
  margin-top: 0px;
}

.card {
  width: 175px;
  font-size: 12px;
  
  text-overflow: ellipsis;
  flex: 0 0 auto;
  flex-direction: column;
  display: flex;
}

.card > img {
  width: 100%;
  border-radius: 9px;
}

.cards {
  padding-left: 4%;
  display: flex;
  overflow-x: scroll; 
}